@import "variables.scss";
@import "mixins.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bgcColor;
  color: $fontColor;
  font-family: "Segoe UI", sans-serif;
}

.header {
  @include flex(row, true);
  margin-top: 15px;
  justify-content: space-evenly;

  &__title {
    @include flex(row, true);
    font-weight: bold;
    cursor: pointer;
  }

  &__title_icon {
    width: 24px;
    margin-right: 5px;
    transition: 300ms;
  }

  &__title:hover &__title_icon {
    rotate: -30deg;
  }

  &__link {
    color: white;
    @include flex(row, true);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 300ms;
  }

  &__link_icon {
    margin-right: 5px;
  }

  &__link:hover {
    border-color: white;
  }

  &__dropdown {

    .dropdown__russian, .dropdown__english {
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;

      .flash_english, .flash_russian, img {
        width: 32px;
      }
    }

    .dropdown__trigger {
      cursor: pointer;
      transition: 300ms;
    }

    .dropdown__trigger:hover, .dropdown__trigger:after {
      transform: scale(0.9);
    }

    .dropdown__content {
      @include flex(column, true);
      padding: 15px;
      position: absolute;
      background-color: $bgcDropdown;
    }
  }

}

.content {
  width: 100%;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  -webkit-margin-end: auto;
  margin-inline-end: auto;
  max-width: 60ch;
  -webkit-padding-start: 1rem;
  padding-inline-start: 1rem;
  -webkit-padding-end: 1rem;
  padding-inline-end: 1rem;
  margin-top: 30px;

  &__category:not(:first-child) {
    margin-top: 30px;
  }

  .heading_title {
    border-bottom: 5px solid $headingTitleColor;
    font-weight: 600;
    font-size: 20px;
  }

  .heading_subtitle {
    border-bottom: 2.5px solid $headingTitleColor;
    font-weight: 500;
    font-size: 15px;
  }

  .category_description {
    margin-top: 10px;
  }

  .twitter_gif {
    width: 16px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
  }

  .telegram_gif {
    width: 32px;
    border-radius: 50%;
    margin-left: 5px;
  }

  &__block {
    @include flex(row, true);
    background-color: $bgcBlockColor;
    width: inherit;
    padding: 15px;
    border-radius: 5px;
  }

  &__animation {
    height: 320px !important;
    display: block !important;
  }

  .main_biography {
    @include flex(row, true);
    justify-content: space-between;

    &__avatar {
      object-fit: cover;
      border-radius: 50%;
      width: 128px;
      height: 128px;
      border: white 1px solid;
      margin-left: 20px;
      margin-top: 30px;
    }
  }

  .list_languages {
    margin-top: 15px;
    @include flex(row, true);
    justify-content: space-between
  }

  .list_technologies {
    margin-top: 15px;
    @include flex(column, true);
  }

  .list_technologies div {
    margin-top: 15px;
    @include flex(row, true);
  }

  .list_technologies div > img:not(:first-child) {
    margin-left: 5px;
  }

  .testimonials {
    @include flex(column, true);
    margin-top: 15px;

    .testimonial {
      @include flex(column, true);
      background-color: $bgcTestimonial;
      width: -webkit-fill-available;
      padding: 30px;
      border-radius: 15px;

      &__customer {
        @include flex(row, true);

        .customer__description {
          .description__job {
            color: $detailedJobTitleColor;
          }
        }
      }

      &__avatar {
        object-fit: cover;
        border-radius: 50%;
        width: 128px;
        height: 128px;
        border: white 1px solid;
        margin-top: 15px;
        margin-left: 5%;
      }

      &__description {
        margin-top: 15px;
      }
    }

    .testimonial:not(:first-child) {
      margin-top: 15px;
    }
  }

  .slider {
    width: 500px;
  }

  .contact_telegram {
    display: flex;
    flex-direction: row;
    align-items: center;

  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 90%;
  }
  .slider {
    width: 400px !important;
  }
}

@media screen and (max-width: 500px) {
  .content {
    width: 85%;

    .list_languages {
      display: block;
    }
  }

  .slider {
    width: 350px !important;
  }
}

@media screen and (max-width: 400px) {
  .content {
    width: 80%;

    .list_languages {
      display: block;
    }
  }

  .slider {
    width: 300px !important;
  }
}

@media screen and (max-width: 300px) {
  .content {
    width: 75%;

    .list_languages {
      @include flex(column, true);
    }

    .list_technologies > div {
      @include flex(column, true);
    }

    .main_biography {
      &__avatar {
        width: 64px;
        height: 64px;
      }
    }

    .testimonial {
      &__avatar {
        width: 64px !important;
        height: 64px !important;
      }
    }
  }

  .slider {
    width: 250px !important;
  }
}